
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    font-family: 'Lobster', cursive;

}

.page-holder {
    min-height: 100vh;
  }
  
  .bg-cover {
    background-size: cover !important;
  }

